.element__button {
  background: url(../../../images/like_button.svg) ;
  width: 22px;
  height: 19px;
  border: none;
  margin-right: 5px;
}

.element__button:hover {
  opacity: 0.5;
}

.element__button:active {
  background-color: #000000;
}