.element__mask-group {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: contain;
  object-position: center;
}

@media screen and (min-width: 1280px) {
  .element__mask-group {
    height: 282px;
  }
}